.regForm{
    margin: auto;
    width: 60%;
    height: 300px;
    background-color: powderblue;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.submit{
    background-color: linear-gradient(blue,purple);
}
.span{
    background-color: brown;
}