.Section1{
    background-color:darkkhaki;
    height: 600px;


}
.Submitbutton1{
    margin-left: 45%;
    background-color: rgb(20, 47, 201);
    border-color: rgb(5, 5, 5);
    width: auto;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
}
